{% extends "base.html" %}


{% block content %}
<p class="toplinks"><a href="/blog">mainpage</a> &nbsp; &nbsp; <a href="/newpost">add a blog</a></p>
    <form method='post'>
        <label>Title for your blog post<br/> 
            <input name='title' type="text" />
        </label>
        <span class="error">{{title_error}}</span>
        <br/>
        <br/>
        <label>
            New Blog Entry<br/> 
            <textarea name='blog-body' rows="10" cols="50"></textarea>
        </label>
        <span class="error">{{body_error}}</span>
        <br/>
        <input type="submit" value='Add Blog' />
    </form>

    
{% endblock %}